# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Data folders (si contienen archivos pesados o generados)
data_raw/
data_processed/
data_curated/
models/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store
